<!doctype html>
<html lang="br"><head>

    <meta charset="utf-8">
    <title>Cauan Marcelo Lima</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./index.css" media="all">

</head><body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <div id="app" v-cloak>
        <b-container id="app_container" class="container">
            <div class="resize">
                <div class="container-default-wrap">
                    <div class="container-default-single"> 
                    <img src="./img/cauan.jpeg" height="350" width="auto">
                    </div>
                    <div class="container-default-single" >
                        <div class="title-form margin-20" >Cauan Marcelo lima</div>
                        
                        <div class="container-default"> 
                            <a href="https://github.com/cauanliima" >
                                <img src="./img/GitHubLogo.png" width="40" height="40">
                            </a>
                            <h2>
                                <a href="https://github.com/cauanliima" >cauanliima</a>
                            </h2>
                           
                            <a href="https://www.instagram.com/cauanliima/" >
                                <img src="./img/InstagramLogo.png" width="40" height="40">
                            </a>
                            <h2>
                                <a href="https://www.instagram.com/cauanliima/" >cauanliima</a>
                            </h2>
                        </div>
                        <div class="container-default" style="width:60%"> 
                            <a href="https://www.linkedin.com/in/cauan-marcelo-lima-53ab27212/"><img src="./img/linkedInLogo.png"  width="auto" height="30"></a>
                            <h2><a href="https://www.linkedin.com/in/cauan-marcelo-lima-53ab27212/">cauanliima</a></h2>
                        </div>
                        <div class="container-default" style="width:90%"> 
                            <img src="./img/GmailLogo.png"  width="auto" height="30">
                            <h2>cauanmarcelolima@gmail.com</h2>
                        </div>
                    </div>
                </div>

                <div class="dropdown container-default">
                    <button class=" btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                      {{subpag}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li style="width: 80%;" v-if="subpag!='Resumo'" ><button @click="subpag='Resumo'" class="dropdown-item" type="button">Resumo</button></li>
                      <li style="width: 80%;" v-if="subpag!='Formação'"><button  @click="subpag='Formação'" class="dropdown-item" type="button">Formação</button></li>
                      <li style="width: 80%;" v-if="subpag!='Projetos'"><button @click="subpag='Projetos'" class="dropdown-item" type="button">Projetos</button></li>
                      <li style="width: 80%;" v-if="subpag!='Produções'"><button  @click="subpag='Produções'" class="dropdown-item" type="button">Produções</button></li>
                    </ul>
                  </div>

               <!-- 
                <div class="container-default" style="margin: 5px;" >
                    <div v-if="subpag!='Resumo'" @click="subpag='Resumo'" class="container-default"><h1 class="link">Resumo</h1></div>
                    <div v-if="subpag!='Formação'" @click="subpag='Formação'" class="container-default"><h1 class="link">Formação</h1></div>
                    <div v-if="subpag!='Projetos'" @click="subpag='Projetos'" class="container-default"><h1 class="link">Projetos</h1></div>
                    <div v-if="subpag!='Produções'" @click="subpag='Produções'" class="container-default"><h1 class="link">Produções</h1></div>
                </div>
           
                <h2 class="container-default" style="text-transform: uppercase"> {{subpag}}</h2>
                 -->

                <div v-if="subpag=='Resumo'">
                    <p>Me chamo Cauan, tenho 23 anos e sou mineiro, natural de Lagoa Santa.
                    ou graduado em bacharel em Ciência e Tecnologias na Universidade Federal do Rio Grande do Norte (UFRN).
                    </p>
                    <p>
                    Atualmente curso Engenharia de Computação na UFRN e tenho uma bolsa de pesquisa do Instituto Metrópole Digital (IMD) juntamente com o Núcleo de Pesquisa em Alimentos e Medicamentos (NUPLAM).
                    </p>
                </div>
                <div class="container-default-single"  v-if="subpag=='Formação'">
                    <ol>
                        <li>UFRN - Graduando em Engenharia da Computação - desde outubro de 2021.</li>
                        <li>UFRN - Bacharelado em Ciências e Tecnologia com ênfase em Tecnologia da Computação - de julho de 2017 concluindo em setembro de 2021.</li>
                        <li>Serviço Nacional de Aprendizagem Industrial (SENAI) - Técnico em Automação Industrial - de julho de 2015 a dezembro de 2016.</li>
                    </ol>

                    <h2>CONHECIMENTOS</h2>
                    <ol>
                        <li>Linux</li>
                        <li>MongoDB, MariaDB, MySQL, Mosquito</li>
                        <li>MQTT e ModBus</li>
                        <li>Desenvolvimento Web embarcado em Raspberry utilizando NodeRed </li>
                        <li>Docker, Docker-compose</li>
                        <li>Python, JavaScrypt, C++, C, HTML, CSS, Vue React e Matlab</li>
                    </ol>

                </div>
                <div class="container-default-single"  v-if="subpag=='Projetos'">
                    
                    
                    <ol>
                        
                        <li @click="infPes=true">
                            
                             IMD/UFRN - Bolsista de pesquisa IOT - Desde julho
                             <div class="container-default-single" style="margin-left:5%;">
                             <div class="container-default">
                                <img src="./img/UFRNLogo.png"  width="auto" height="80">
                                <img src="./img/nuplamLogo.png"  width="auto" height="80">
                                <img src="./img/IMDLogo.png"  width="auto" height="80">
                             </div>
                            <div>
                             Participo do projeto ODDigital que consiste em informatizar o processo de manipulação de medicamentos que ocorre no NUPLAM.
                             Faço contribuições em IOT, desenvolvendo um dispositivo com Raspberry, leitor RFID e LCD,
                             com a finalidade de registrar as limpezas dos locais de processamento de medicamentos no qual
                             seguem um protocolo rigoroso que é implementado na aplicação.
                             Os conhecimentos aplicados para o desenvolvimento foram:
                            </div>
                             <ol>
                                 <li>JavaScrypt, CSS, Vue React;</li>
                                 <li>MQTT, MongoDB, MySQL, Mosquito;</li>
                                 <li>Docker, Docker-compose;</li>
                                 <li>NodeRed, Inventor (na confecção do case);</li>
                                 <li>UML.</li>
                            </ol>

                        </div>
                        </li>
                        <li>Departamento de matemática (DMAT/UFRN) - monitor de Cálculo I - de junho a outubro de 2021.</li>
                        <li>Escola de Ciências e Tecnologia (ECT/UFRN) - monitor de Cálculo II - de março de 2020 a abril de 2021.</li>
                        <li>(ECT/UFRN) - monitor de Cálculo I - de abril de 2019 a dezembro de 2019.</li>
                        <li>Centro de Educação (CE/UFRN) - bolsista de apoio técnico - de setembro de 2017 a abril de 2019.</li>
                        <li>SENAI - Técnico Instrumentista - de julho de 2016 a dezembro de 2016.</li>
                    </ol>
                </div>
                <div class="container-default-single"  v-if="subpag=='Produções'">
                    <h2 class="margin-20">ARTIGOS</h2>
                    <ol>
                        <li> SILVA, A. C. ; LIMA, C. M. ; MOREIRA, D. A. . Desenvolvimento e Aplicação de Testes Online Utilizando a Ferramenta Google Forms. In: Encontro integrado dos programas de ensino da UFRN, 2020, Natal-RN. Anais do evento - Encontro integrado dos programas de ensino da UFRN, 2020.</li>
                        <li> LIMA, C. M.; CARVALHO, E. J. F. ; COSTA, V. H. R. S. . Ciclo rápido de exercícios e aprendizagem ativa em disciplinas de matemática.. In: Encontro integrado dos programas de ensino da UFRN, 2019, Natal-RN. Anais do evento - Encontro integrado dos programas de ensino da UFRN, 2019.</li>
                    </ol>

                    <h2 class="margin-20">TCC DO  TÉCNICO EM AUTOMAÇÃO INDUSTRIAL</h2>
                    <ol style="padding-top: 10px">
                        <div class="container-default-single">
                            <div class="container-default">
                               <img src="./img/senaiLogo.png"  width="auto" height="40">
                            </div>
                        </div>
                        <li>PLANTA DIDÁTICA DE VAZÃO - 2016 <a style="font-size:20px" href="./docs/TAI01_DOC_PDV=B.pdf">DOCUMENTAÇÃO</a></li>
                    </ol>
                    <div class="text-form">Contribui como instrumentista para a confecção da planta didática</div>
                    
                    <div class="container-default"> 
                        <img src="./img/plantaDidatica.png"  width="560" height="315">
                    </div>

                    <div class="container-default"> 
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/w6RerlqG074" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <h2 class="margin-20">EXTRAS</h2>
                    <h3>Jogo desenvolvido na disciplina de Lógica de programação</h3><h2 class="link"><a href="https://cauanliima.github.io/gameJS/">*GameJS</a></h2>
          
                                        
                </div>
 
                
                <!--
                <div class="container-default">
                    <div class="container-default-L">
                    </div>
                    <div class="container-default-R">
                    </div>
                </div>
                -->
            
            </div>
        </b-container>
    </div>

    <script src="./index.js"></script>
</body></html>

