/*
  Variáveis
*/

:root {
  --link-color: #1e4db3;
  --text1: #999999;
  --highligth-text: #333333;
  --input-text: #555555;
  --white-color: #FFFFFF;
  --point-list: #CCCCCC;
  --line-input: #D9D9D9;
  --black-color: #222222;
  --gray-color: #444;
}

/*
  Zerar estilos
*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
  overflow: auto;

}

ul, li {
	margin: 0px;
	list-style-type:circle;
  text-align:justify;
  color: var(--white-color);
  margin-left: 10%;
  margin-right: 5%;
  font-size: 20px;
  margin-top: 10px;
  text-align:justify;
}
p{
  color: var(--white-color);
  text-align:justify;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 5%;
}

button, input {
	outline: none !important;
	border: none;
  margin-top: 7px;
}
img{
  margin-top: 20px;
  display: block;
  margin: initial;
}
h1,h2,h3{
  display: block;
  color: var(--white-color);
  text-align:center;
  width: 100%;
  height: auto;
  align-items: center;
}
h1{
  font-size: 50px;
}
h2,a{
  font-size: 35px;
}
.text-form {
  text-align:left;
  color: var(--white-color);
  margin-left: 10%;
  margin-right: 5%;
  font-size: 20px;
}

.margin-20{
  padding-top: 20px;
}


.container {
  /*
  max-width:480px;
  max-height: 360px;
  */
  width: 100%;
  display: block;
  background: var(--black-color);
  min-height: 100vh;
  height: auto;
}
.resize{
  padding: 30px;
  width: 90%;
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: var(--gray-color);
  height: auto;
}

.container-default-single{
  margin-top: 50px;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;

}

.container-default{
  width:auto;
  height: auto;
  margin-top: 50px;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.container-default-L {
  margin-top: 50px;
  width: 60%;
  display: block;
  justify-content: center;
  align-items: center;
}
.container-default-R {
  margin-top: 50px;
  width: 20%;
  display: block;
  justify-content: center;
  align-items: center;
}


.title-form{
  display: block;
  color: var(--white-color);
  line-height: 1.1;
  text-align:center;
  width: 100%;
  font-size: 60px;
  align-items: center;
}
.link{
  text-transform: uppercase;
  color: var(--link-color);
  text-align:center;
  width: 100%;
  align-items: center;
  cursor: pointer;
  font-size: 35px;
}
a{
  color: var(--link-color);
}



/*Template abaixo*/


.wrap-metade {
  width: 50%;
  background: var(--white-color);
  display: block;
}

.div-text{
  height:auto;
  width:100%;
  display: block;
  background-color: var(--white-color);
  margin-top: 8px;
  margin-block-end: 8px;
}


/*
  Formulário
*/

.text-form-status {
  display: block;
  font-size: 32px;
  color: var(--main-color);
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
}


.text-form-black {
  display: block;
  font-size: 30px;
  color: var(--black-color);
  line-height: 2;
  text-align: center;

}


/*
  Botão
*/

.container-form-btn-metade {
  width: 50%;
  justify-content: center;
}

.container-form-btn {
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  justify-content: space-around;
}


button {
  font-size: 30px;
  color: var(--white-color);
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 80px;
  background-color: var(--main-color);
  border-radius: 5px;
  margin:3px;
}